{{#partial "title"}}
    HackAThon Teams
{{/partial}}
{{#partial "content"}}
    {{#if allTeams}}
        {{#each allTeams}}
            <div class = well>
            <h2 class = "about">Team Name: {{ teamName }}</h2>
            <h3 class = "about">Team Description: {{ teamDescription }}</h3>
            {{#if allMembers}}
                    {{#each allMembers}}
                    <h4 class = "about">Teammate: {{ hackMemberName }}</h4>
                    {{/each}}
            {{else}}
            <p class = "about">&emsp;&emsp;No members {{hackMemberName}}</p>
            {{/if}}
            <a href="/teams/{{id}}/members">Add members</a>
            <a href="/teams/members/new">Edit members</a>
            <a href="/members/deleteall">Delete members</a>
            </div>
            <a href="/teams/{{id}}/update">Edit this team</a>
            <a href="/teams/{{id}}/delete">Delete this team</a>
        {{/each}}
    {{else}}
    <p>No teams available</p>
    {{/if}}
    <a href="/teams/deleteAll">DELETE ALL TEAMS</a>
{{/partial}}

{{> layout.hbs}}